/* General layout */
.user-page-container {
  margin: 20px;
  font-family: "Comfortaa", Arial, sans-serif;
  max-width: 100%;
  width: 100%;
}

.user-page-header {
  font-size: 2em;
  font-family: "Comfortaa", Arial, sans-serif;
  margin-bottom: 20px;
}

.user-user-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
}

.user-left-side {
  flex: 2;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.user-right-side {
  flex: 1;
  padding: 20px;
}

/* List styling */
.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.user-list-items:hover {
  background-color: #a4fcd3;  /* Darker gray background on hover */
}

.user-list-items {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  font-family: "Comfortaa", Arial, sans-serif;
  border-radius: 5px;
  padding: 20px;  /* Reduced from 40px */
  margin: 10px 0;  /* Reduced from 20px */
  width: 100%;
}

.user-list-name {
  margin: 8px 0;  /* Reduced from 15px */
  font-size: 1em;  /* Reduced from 1.2em */
}

/* Button styling */
.user-profile-button {
  background-color: rgb(84, 177, 149);
  color: white;
  border: none;
  padding: 15px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.user-profile-button a {
  color: white;
  text-decoration: none;
}

.user-profile-button:hover {
  background-color: #cfffe9;
}

* {
  font-family: "Comfortaa", Arial, sans-serif;
}
